/*wrap*/
@media (max-width: 768px) {
    .play-link{
        line-height: 22px;
        min-width: calc(25% - 10px);
    }
    .play-list-item {
        max-height: 240px;
    }
    .play-module-title{
        display: none;
    }
    .play-tab-item{
        height: 34px;
        line-height: 34px;
        font-size: 12px;
        padding: 0 8px;
    }
    .play-list{
        border-radius: 0 8px 8px 8px;
    }
}
/*pc*/
@media (min-width: 768px) {
    .play-link{
        line-height: 34px;
        min-width: calc(16.7% - 12px);
    }
    .play-list-item {
        max-height: 380px;
    }

    .play-module-title{
        height: 45px;
        line-height: 45px;
        font-size: 24px;
        color: rgba(255,255,255,0.55);
    }
    .play-tab-item{
        height: 45px;
        line-height: 45px;
        font-size: 14px;
        padding: 0 15px;
    }
    .play-list{
        border-radius: 8px 0 8px 8px;
    }

}

/*播放列表样式*/
.play-module{
    width: 100%;
    border-radius: 10px;
    margin-top: 50px;
}
.module-heading{
    display: flex;
    justify-content: space-between;
}
.play-module-title{
    font-weight: 700;
    margin: 0 0;
}
.play-tab-group{
    display: flex;
    white-space: nowrap;
    padding: 5px 5px 0;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: none;
    background: rgba(255,255,255,0.1);
    border-radius: 8px 8px 0 0;
}
.play-tab-item{
    display: inline-block;
    border-radius: 6px 6px 0 0;
    font-weight: 700;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.08), 0 0 1px rgba(0,0,0,.1)
}
.play-tab-item:hover{
    color: orange;
}

.tab-active{
    background: linear-gradient(#00000015, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-weight: 700;
    color: orange;
}

.play-list{
    border: 1px solid rgba(255, 255, 255, 0.06);
    background: linear-gradient(#ffffff14, transparent);
    padding: 20px;
}
.play-list-item{
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}
.play-link{
    padding: 6px 3px 0 3px;
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 8px;
    margin: 5px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
}
.play-link:hover {
    color: orange;
    background: #b36d3824;
}
.play-link-active {
    color: orange;
    background: #b36d3824;
}



 /*film item loading style */
 .loading-wave {
     height: 8px;
     display: flex;
     justify-content: center;
     align-items: flex-end;
 }

.loading-bar {
    width: 3px;
    margin: 0 1px;
    background-color: #FFB22C;
    border-radius: 2px 2px 0 0;
    animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
    animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
    animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
    0% {
        height: 3px;
    }

    50% {
        height: 10px;
    }

    100% {
        height: 3px;
    }
}

